@use 'variables' as *;
@use 'mixin' as *;

.btn {
  display: inline-block;
  border: 1px solid $color-terciary;
  padding: 1.5rem 6rem;
  background-image: linear-gradient(to left bottom, $color-secondary, darken($color-secondary, 10%));
  transition: all ease-in .06s;

  &:hover {
    transform: translateY(-.5rem);
  }

  &:focus {
    transform: translateY(.5rem);
    color: $color-terciary;
    
  }
}