@use 'variables' as *;
@use 'mixin' as *;

.footer {
  margin-top: 4rem;
  padding: 4rem 0rem;
  padding-inline: 1rem; 
  background-image: linear-gradient(
    to left bottom,
    $color-secondary,
    darken($color-secondary, 8%)
  );
  display: grid;
  @include container-size;
  gap: 6rem;
  @include respond(tab-port) {
    padding-inline: 10rem;    
  }

  &__contact {
    display: grid;
    place-content: center;

    @include respond(tab-port) {
      grid-template-columns: 1fr 1fr;
      height: 15vh;
    }

    &-container {
      display: flex;
      flex-direction: column;
      justify-content: center;      
      border-bottom: 1px solid $color-terciary;
      padding-bottom: 2rem;

      @include respond(tab-port) {
        border: none;
        padding-left: 2rem;
        border-left: 1px solid $color-terciary;
        gap: 1rem;
        height: 15vh;
      }
    }

    &-address {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;
      max-width: 60ch;

      @include respond(tab-port) {
        padding-left: 2rem;
        border-left: 1px solid $color-terciary;
        gap: 1rem;
        height: 15vh;
      }
    }
  }

  &__copy {
    display: grid;
    place-content: center;
    border-top: 1px solid $color-terciary;

    @include respond(tab-port) {
      grid-template-columns: 1fr 1fr;
      height: 15vh;
      border: none;
    }

    &-copyright {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;
      height: 15vh;
      max-width: 95ch;

      @include respond(tab-port) {
      }

      img {
        max-width: 20rem;
        margin: 0 auto;
        margin-bottom: 3rem;
      }

      h4 {
        font-variant: bold;
      }
    }

    &__newsletter {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;
      height: 15vh;

      h4 {
        position: relative;
        @include respond(desktop) {
          padding-bottom: 3rem;
          padding-left: 2rem;

          &::after {
            content: '';
            display: block;
            position: absolute;
            background-image: url('/assets/img/Arrowcurta.svg');
            background-repeat: no-repeat;
            width: 5rem;
            height: 2rem;
            top: 1.4rem;
            left: -3rem;
          }
        }
      }

      .form {
        width: 40rem;
        max-width: 40rem;
        position: relative;

        input {
          width: 100%;
          max-width: 40rem;
          height: 6rem;
          background-color: $color-secondary;
          border-style: none;
          border: 1px solid $color-terciary;
          font: 400 2.2rem/1 'Inria Serif', serif;

          &::placeholder {
            padding-left: 3rem;
            font: 200 1.6rem/1 sans-serif;
            letter-spacing: 0.2rem;
            color: $color-terciary;
          }

          &:focus {
            outline: none;
            border: 1px solid $color-terciary;

            &::placeholder {
              color: transparent;
            }
          }
        }

        button {
          background-color: transparent;
          font-size: 4rem;
          border-style: none;
          outline-style: none;
          position: absolute;
          cursor: pointer;
          right: 3rem;
          top: 0.6rem;
          transition: all ease 0.1s;

          &:hover {
            transform: scale(1.2);
          }

          &:focus {
            transform: scale(1);
          }
        }
      }
    }
  }
}
