@use 'variables' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background-color: $color-primary;
  
}

img {
  max-width: 100%;
  object-fit: cover;
  display: block;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}
