@use 'variables' as *;
@use "mixin" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

html {
  font-size:47.5%;
  scroll-behavior: smooth;

  @include respond(tab-port) {
    font-size: 50%;
  }

  @include respond(tab-land) {
    font-size: 56.2%;
  }
}

body {
  min-height: 100vh;
  background-color: $color-primary;
  
}

img {
  max-width: 100%;
  object-fit: cover;
  display: block;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}
