@charset "UTF-8";
.color-primary {
  color: #F6F0F1;
}

.color-secondary {
  color: #C39E9E;
}

.color-terciary {
  color: #121111;
}

.defaut-font-primary {
  font: 400 2.2rem/1 "Jacques Francois", serif;
}

.defaut-font-secondary {
  font: 400 2.5rem/1 "Inria Serif", serif;
}

.defaut-font-terciary {
  font: 400 2rem/1 "Inria Serif", serif;
}

.menu-font-primary {
  font: 400 2rem/1 "Jacques Francois", serif;
  text-transform: uppercase;
}

.menu-font-secondary {
  font: 500 2.8rem/1.5 "Inria Serif", serif;
}

.title-font-primary {
  font: 400 4rem/1 "Jacques Francois", serif;
  text-transform: uppercase;
}

.title-font-secondary {
  font: 400 5rem/1 "Jacques Francois", serif;
}

/* 
-----------------------------------------------. 
!argumento do $breakpoint                      | 
...............................................| 
320px - 600px  mobile phone = phone            |
600px - 900px tablet-portrait = tab-port       |
900px - 1200px tablet-landscape = tab-land     |
1200px - 1800px tamanho normal do browser      |
1800px + big desktop = big-desktop      
xxpx/16px = xxem       |
-----------------------------------------------°
*/
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15rem;
  max-width: 144rem;
  margin-inline: auto;
  padding-bottom: 6rem;
  padding-bottom: 0;
  overflow: hidden;
  padding: 2rem;
}
@media (min-width: 56.2rem) {
  .header {
    height: 10rem;
    gap: 2rem;
  }
}
.header__logo {
  max-width: 20rem;
  order: 1;
  position: absolute;
  top: 2rem;
}
@media (min-width: 56.2rem) {
  .header__logo {
    position: static;
    max-width: 30rem;
    order: 2;
  }
}
.header .nav--1 {
  order: 2;
}
.header .nav--1 a {
  font-size: 1.6rem;
  padding-inline: 0.5rem;
  border-right: 1px solid #121111;
}
@media (min-width: 56.2rem) {
  .header .nav--1 a {
    padding-inline: 2rem;
    border: none;
  }
}
.header .nav--2 {
  order: 3;
}
.header .nav--2 a {
  font-size: 1.6rem;
  padding-inline: 0.5rem;
}
@media (min-width: 56.2rem) {
  .header .nav--2 a {
    padding-inline: 2rem;
  }
}
.header .nav--2 a:not(:last-child) {
  border-right: 1px solid #121111;
}
@media (min-width: 56.2rem) {
  .header .nav--2 a:not(:last-child) {
    border: none;
  }
}
.header__nav {
  display: block;
}
@media (min-width: 87.5rem) {
  .header__nav a {
    position: relative;
    font-size: initial;
  }
  .header__nav a::after {
    content: "";
    background-color: #121111;
    width: 0;
    height: 0.1rem;
    display: block;
    position: absolute;
    top: 2.5rem;
    left: 0;
    transition: all ease-in 0.1s;
  }
  .header__nav a:hover::after {
    width: 100%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 47.5%;
  scroll-behavior: smooth;
}
@media (min-width: 56.2rem) {
  html {
    font-size: 50%;
  }
}
@media (min-width: 75rem) {
  html {
    font-size: 56.2%;
  }
}

body {
  min-height: 100vh;
  background-color: #F6F0F1;
}

img {
  max-width: 100%;
  object-fit: cover;
  display: block;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  border: 1px solid #121111;
  padding: 1.5rem 6rem;
  background-image: linear-gradient(to left bottom, #C39E9E, #b07e7e);
  transition: all ease-in 0.06s;
}
.btn:hover {
  transform: translateY(-0.5rem);
}
.btn:focus {
  transform: translateY(0.5rem);
  color: #121111;
}

.home {
  max-width: 144rem;
  margin-inline: auto;
  padding-bottom: 6rem;
}

.about {
  display: grid;
  place-items: center;
  gap: 6rem;
  margin-top: -12rem;
  max-width: 144rem;
  margin-inline: auto;
  padding-bottom: 6rem;
}
@media (min-width: 56.2rem) {
  .about {
    grid-template-columns: 1fr 1fr;
    padding-inline: 14rem;
  }
}
.about__description {
  padding-top: 10rem;
  display: grid;
  gap: 3rem;
  padding-inline: 1rem;
}
.about__description h1 {
  margin-bottom: 1rem;
  position: relative;
}
.about__description h1::before {
  content: "";
  display: block;
  width: 8rem;
  height: 0.1rem;
  left: -15.5rem;
  top: 2rem;
  position: absolute;
  background-color: #121111;
}
.about__description p {
  max-width: 45ch;
}
.about__image {
  border: 0.4rem solid #F6F0F1;
}

.services {
  display: grid;
  gap: 6rem;
  place-items: center;
  max-width: 144rem;
  margin-inline: auto;
  padding-bottom: 6rem;
}
.services__title {
  text-align: center;
  width: 100%;
  padding: 3rem 0;
  border-top: 1px solid #121111;
  border-bottom: 1px solid #121111;
}
.services__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
  padding: 1rem;
}
.services__container__cards {
  display: grid;
  gap: 2rem;
  max-width: 40rem;
}
.services__container__cards a {
  color: #121111;
}

.projects {
  display: grid;
  gap: 6rem;
  place-items: center;
  max-width: 144rem;
  margin-inline: auto;
  padding-bottom: 6rem;
}
.projects__title {
  text-align: center;
  width: 100%;
  padding-top: 4rem;
  border-top: 1px solid #121111;
}
.projects__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}
.projects__container__cards {
  display: grid;
  gap: 2rem;
  cursor: pointer;
  padding: 1rem;
}
.projects__container__cards h3 {
  position: relative;
}
@media (min-width: 87.5rem) {
  .projects__container__cards h3::after {
    content: "";
    display: block;
    position: absolute;
    top: 4rem;
    left: 0;
    background-image: url("/assets/img/Arrowlongagrossa.svg");
    background-repeat: no-repeat;
    width: 2rem;
    height: 2rem;
    transition: all ease 0.3s;
  }
}
.projects__container__cards:hover h3::after {
  width: 22rem;
}

.footer {
  margin-top: 4rem;
  padding: 4rem 0rem;
  padding-inline: 1rem;
  background-image: linear-gradient(to left bottom, #C39E9E, #b38585);
  display: grid;
  max-width: 144rem;
  margin-inline: auto;
  padding-bottom: 6rem;
  gap: 6rem;
}
@media (min-width: 56.2rem) {
  .footer {
    padding-inline: 10rem;
  }
}
.footer__contact {
  display: grid;
  place-content: center;
}
@media (min-width: 56.2rem) {
  .footer__contact {
    grid-template-columns: 1fr 1fr;
    height: 15vh;
  }
}
.footer__contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid #121111;
  padding-bottom: 2rem;
}
@media (min-width: 56.2rem) {
  .footer__contact-container {
    border: none;
    padding-left: 2rem;
    border-left: 1px solid #121111;
    gap: 1rem;
    height: 15vh;
  }
}
.footer__contact-address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  max-width: 60ch;
}
@media (min-width: 56.2rem) {
  .footer__contact-address {
    padding-left: 2rem;
    border-left: 1px solid #121111;
    gap: 1rem;
    height: 15vh;
  }
}
.footer__copy {
  display: grid;
  place-content: center;
  border-top: 1px solid #121111;
}
@media (min-width: 56.2rem) {
  .footer__copy {
    grid-template-columns: 1fr 1fr;
    height: 15vh;
    border: none;
  }
}
.footer__copy-copyright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  height: 15vh;
  max-width: 95ch;
}
.footer__copy-copyright img {
  max-width: 20rem;
  margin: 0 auto;
  margin-bottom: 3rem;
}
.footer__copy-copyright h4 {
  font-variant: bold;
}
.footer__copy__newsletter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  height: 15vh;
}
.footer__copy__newsletter h4 {
  position: relative;
}
@media (min-width: 87.5rem) {
  .footer__copy__newsletter h4 {
    padding-bottom: 3rem;
    padding-left: 2rem;
  }
  .footer__copy__newsletter h4::after {
    content: "";
    display: block;
    position: absolute;
    background-image: url("/assets/img/Arrowcurta.svg");
    background-repeat: no-repeat;
    width: 5rem;
    height: 2rem;
    top: 1.4rem;
    left: -3rem;
  }
}
.footer__copy__newsletter .form {
  width: 40rem;
  max-width: 40rem;
  position: relative;
}
.footer__copy__newsletter .form input {
  width: 100%;
  max-width: 40rem;
  height: 6rem;
  background-color: #C39E9E;
  border-style: none;
  border: 1px solid #121111;
  font: 400 2.2rem/1 "Inria Serif", serif;
}
.footer__copy__newsletter .form input::placeholder {
  padding-left: 3rem;
  font: 200 1.6rem/1 sans-serif;
  letter-spacing: 0.2rem;
  color: #121111;
}
.footer__copy__newsletter .form input:focus {
  outline: none;
  border: 1px solid #121111;
}
.footer__copy__newsletter .form input:focus::placeholder {
  color: transparent;
}
.footer__copy__newsletter .form button {
  background-color: transparent;
  font-size: 4rem;
  border-style: none;
  outline-style: none;
  position: absolute;
  cursor: pointer;
  right: 3rem;
  top: 0.6rem;
  transition: all ease 0.1s;
}
.footer__copy__newsletter .form button:hover {
  transform: scale(1.2);
}
.footer__copy__newsletter .form button:focus {
  transform: scale(1);
}

::-webkit-scrollbar {
  width: 1.5rem;
}

::-webkit-scrollbar-track {
  background-color: #F6F0F1;
  box-shadow: inset 1px 1px 4px rgba(195, 158, 158, 0.2);
  width: 1rem;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(#C39E9E, #b07e7e);
  box-shadow: inset 0px 0px 3px rgba(18, 17, 17, 0.5);
  border-radius: 1px;
}

/*# sourceMappingURL=style.css.map */
